.chip {
  position: absolute;
  width: 9.65rem;
  height: 9.65rem;
  border-radius: 50%;
  font-size: 3rem;
  border: 0.5rem dashed $grey;
  box-shadow: 0.5rem 0.5rem 0.5rem $black;
  color: $grey;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  &-container {
    position: relative;
    left: -4rem;
    top: -4rem;
  }
  &__circle {
    width: 8.65rem;
    height: 8.65rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__midle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.15rem;
    height: 7.15rem;
    border-radius: 50%;
    border: 1px dashed $grey;
  }
  &--500 {
    background-image: linear-gradient($yellow, $yellowd);
  }
  &--500 &__circle {
    border: 0.75rem solid $yellowd;
  }

  &--100 {
    background-image: linear-gradient(rgb(38, 38, 38), black);
  }
  &--100 &__circle {
    border: 0.75rem solid black;
  }
  &--25 {
    background-image: linear-gradient($red, $redd);
  }
  &--25 &__circle {
    border: 0.75rem solid $redd;
  }
  &--5 {
    background-image: linear-gradient($blue, $blued);
  }
  &--5 &__circle {
    border: 0.75rem solid $blued;
  }
  &--1 {
    background-image: linear-gradient($greenl, $green);
  }
  &--1 &__circle {
    border: 0.75rem solid $green;
  }
}
