.bank {
  font-size: 3.5rem;
  color: $yellow;
  fill: $yellow;
  text-shadow: 1px 1px 2px $black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba($grey, 0.2), rgba($greenl, 0.2));
  border-radius: 1rem;
  box-shadow: -1px 1px 4px $grey, 1px -1px 4px $grey;
  display: flex;
  align-items: center;
  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    filter: drop-shadow(1px 1px 2px $black);
  }
}
.call-for-bet {
  width: 100%;
  height: 100%;
  font-size: 3.5rem;
  text-align: center;
  color: $yellow;
  text-shadow: 1px 1px 2px $black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba($grey, 0.2), rgba($greenl, 0.2));
  border-radius: 1rem;
  box-shadow: -1px 1px 4px $yellow, 1px -1px 4px $yellow;
}
.call-for-bet-arrow {
  width: 100%;
  height: 100%;
  fill: rgba($yellow, 0.5);
  filter: drop-shadow(0.25rem 0.25rem $black);
  animation: move 7s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-22.5rem);
  }
  75% {
    transform: translateX(22.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

.bet--chip .chip {
  position: absolute;
  transform: rotateX(45deg);
}

// .bet .chip--500 {
//   box-shadow: 0 1rem $yellowd;
// }
// .bet .chip--100 {
//   box-shadow: 0 1rem $black;
// }
// .bet .chip--25 {
//   box-shadow: 0 1rem $redd;
// }
// .bet .chip--5 {
//   box-shadow: 0 1rem $blued;
// }
// .bet .chip--1 {
//   box-shadow: 0 1rem $green;
// }
.bet--info {
  z-index: 1;
  font-size: 2rem;
  color: $grey;
  text-shadow: 1px 1px 2px $black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba($grey, 0.2), rgba($greenl, 0.2));
  border-radius: 1rem;
  box-shadow: -1px 1px 4px $grey, 1px -1px 4px $grey;
}
.dealer-score {
  display: none;
  z-index: 1;
  font-size: 4rem;
  color: $grey;
  text-shadow: 1px 1px 2px $black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba($grey, 0.2), rgba($greenl, 0.2));
  border-radius: 1rem;
  box-shadow: -1px 1px 4px $grey, 1px -1px 4px $grey;
}
.player-score {
  display: none;
  z-index: 1;
  font-size: 4rem;
  color: $grey;
  text-shadow: 1px 1px 2px $black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba($grey, 0.2), rgba($greenl, 0.2));
  border-radius: 1rem;
  box-shadow: -1px 1px 4px $grey, 1px -1px 4px $grey;
}
.active-score {
  color: $yellow;
  box-shadow: -1px 1px 4px $yellow, 1px -1px 4px $yellow;
}
