$black: rgb(0, 0, 0);
$green: rgb(11, 70, 25);
$greenl: rgb(17, 101, 48);
$yellow: rgb(255, 204, 29);
$grey: rgb(232, 232, 204);
$red: rgb(255, 0, 0);
$redd: rgb(149, 1, 1);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  //   font-size: 62.5%;
  font-size: 50%;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-feature-settings: "lnum";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
}
.table {
  //temporary
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba($green, 0.75), rgba($green, 0.75)),
    url("../img/background.jpg");
  padding: 4rem;
}
