*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 50%;
  box-sizing: border-box; }

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-feature-settings: "lnum";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7; }

.content {
  z-index: -10;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(11, 70, 25, 0.75), rgba(11, 70, 25, 0.75)), url("../img/background.jpg"); }

.deck {
  position: absolute !important;
  transform: rotateZ(-270deg); }

.card {
  perspective: 70rem;
  height: 23.5rem;
  width: 16.5rem;
  position: relative;
  transition: all 0.5s ease; }
  .card--visible .card__side--back {
    transform: rotateY(-180deg); }
  .card--visible .card__side--front {
    transform: rotateY(0deg); }
  .card--hidden .card__side--back {
    transform: rotateY(0deg); }
  .card--hidden .card__side--front {
    transform: rotateY(180deg); }
  .card--top {
    z-index: 1; }
  .card--left {
    transform: translateX(-20rem); }
  .card__side {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid grey;
    background-color: #e8e8cc;
    box-shadow: 0.5rem 0.5rem 1rem black;
    transition: all 0.8s ease;
    backface-visibility: hidden; }
  .card__backside-img {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#950101, #950101), url("../img/card-backside.jpg");
    background-size: 14.5rem 21.5rem;
    background-blend-mode: screen; }
  .card__value {
    position: absolute;
    width: 3.5rem;
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .card__value--red {
      color: red;
      fill: red; }
    .card__value--black {
      color: black;
      fill: black; }
    .card__value--bottom {
      transform: rotate(180deg);
      right: 1rem;
      bottom: 1rem; }
    .card__value__symbol {
      font-size: 3.5rem;
      line-height: 3.5rem;
      fill: inherit; }
    .card__value__icon {
      width: 3rem;
      height: 3rem;
      color: inherit; }
      .card__value__icon--heart {
        width: 2.5rem;
        height: 2.5rem; }

.dark {
  filter: brightness(50%); }

.btn {
  width: 15rem;
  height: 6rem;
  font-size: 3rem;
  padding: 0 1rem;
  color: #e8e8cc;
  fill: #e8e8cc;
  text-transform: uppercase;
  background-image: linear-gradient(#116530, #0b4619);
  border-radius: 0.5rem;
  border: 0.2rem solid #e8e8cc;
  box-shadow: 0.4rem 0.8rem 1rem rgba(255, 204, 29, 0.25);
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn__icon {
    height: 3rem;
    width: 3rem;
    fill: inherit; }
  .btn:hover {
    transform: scale(0.95);
    box-shadow: 0.4rem 1rem 4rem rgba(255, 204, 29, 0.25);
    border: 0.2rem solid #ffcc1d;
    fill: #ffcc1d;
    color: #ffcc1d; }
  .btn:active {
    transform: scale(0.95) translateY(0.3rem); }
  .btn--animated {
    outline: none;
    animation: pulsate 1s 5; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0.4rem 0.8rem 1rem rgba(255, 204, 29, 0.25); }
  50% {
    transform: scale(0.95);
    box-shadow: 0 1rem 4rem rgba(255, 204, 29, 0.25);
    border: 0.2rem solid #ffcc1d;
    fill: #ffcc1d;
    color: #ffcc1d; }
  100% {
    transform: scale(1);
    box-shadow: 0.4rem 0.8rem 1rem rgba(255, 204, 29, 0.25); } }

.chip {
  position: absolute;
  width: 9.65rem;
  height: 9.65rem;
  border-radius: 50%;
  font-size: 3rem;
  border: 0.5rem dashed #e8e8cc;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  color: #e8e8cc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s; }
  .chip-container {
    position: relative;
    left: -4rem;
    top: -4rem; }
  .chip__circle {
    width: 8.65rem;
    height: 8.65rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .chip__midle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.15rem;
    height: 7.15rem;
    border-radius: 50%;
    border: 1px dashed #e8e8cc; }
  .chip--500 {
    background-image: linear-gradient(#ffcc1d, #d09f00); }
  .chip--500 .chip__circle {
    border: 0.75rem solid #d09f00; }
  .chip--100 {
    background-image: linear-gradient(#262626, black); }
  .chip--100 .chip__circle {
    border: 0.75rem solid black; }
  .chip--25 {
    background-image: linear-gradient(red, #950101); }
  .chip--25 .chip__circle {
    border: 0.75rem solid #950101; }
  .chip--5 {
    background-image: linear-gradient(blue, #0000aa); }
  .chip--5 .chip__circle {
    border: 0.75rem solid #0000aa; }
  .chip--1 {
    background-image: linear-gradient(#116530, #0b4619); }
  .chip--1 .chip__circle {
    border: 0.75rem solid #0b4619; }

.table {
  position: relative;
  display: grid;
  grid-template-rows: repeat(9, 11%);
  grid-template-columns: repeat(11, 9%);
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.516));
  padding: 4rem; }

.call-for-bet {
  grid-row: 5 / 7;
  grid-column: 7 / 12; }

.call-for-bet-arrow {
  grid-row: 7/ 9;
  grid-column: 9 / 10; }

.bank {
  grid-row: 9 / 10;
  grid-column: 3 / 7; }

.bet--chip-container {
  grid-row: 3 / 4;
  grid-column: 9 / 10; }

.bet--info {
  grid-row: 4 / 5;
  grid-column: 10 / 12; }

.dealer-score {
  grid-row: 2 / 3;
  grid-column: 4 / 5; }

.player-score {
  grid-row: 6 / 7;
  grid-column: 4 / 5; }

.deck-container {
  grid-row: 1/ 4;
  grid-column: 1 / 4;
  height: 16.5rem;
  width: 23.5rem; }

.deal {
  display: none;
  grid-row: 4 / 5;
  grid-column: 6 / 8; }

.new-game {
  display: none;
  grid-row: 4 / 5;
  grid-column: 6 / 8; }

.hit {
  display: none;
  grid-row: 4 / 5;
  grid-column: 5 / 7; }

.split {
  display: none;
  grid-row: 4 / 5;
  grid-column: 6 / 8; }

.stand {
  display: none;
  grid-row: 4 / 5;
  grid-column: 7 / 9; }

.player-card--1 {
  grid-row: 5/ 8;
  grid-column: 5 / 7;
  height: 23.5rem;
  width: 16.5rem; }

.player-card--2 {
  grid-row: 5/ 8;
  grid-column: 7 / 9;
  height: 23.5rem;
  width: 16.5rem; }

.player-card--3 {
  grid-row: 5/ 8;
  grid-column: 8 / 10;
  height: 23.5rem;
  width: 16.5rem; }

.player-card--4 {
  grid-row: 5/ 8;
  grid-column: 9 / 11;
  height: 23.5rem;
  width: 16.5rem; }

.player-card--5 {
  grid-row: 5/ 8;
  grid-column: 10 / 12;
  height: 23.5rem;
  width: 16.5rem; }

.dealer-card--1 {
  grid-row: 1/ 4;
  grid-column: 5 / 7;
  height: 23.5rem;
  width: 16.5rem; }

.dealer-card--2 {
  grid-row: 1/ 4;
  grid-column: 7 / 9;
  height: 23.5rem;
  width: 16.5rem; }

.dealer-card--3 {
  grid-row: 1/ 4;
  grid-column: 8 / 10;
  height: 23.5rem;
  width: 16.5rem; }

.dealer-card--4 {
  grid-row: 1/ 4;
  grid-column: 9 / 11;
  height: 23.5rem;
  width: 16.5rem; }

.dealer-card--5 {
  grid-row: 1/ 4;
  grid-column: 10 / 12;
  height: 23.5rem;
  width: 16.5rem; }

.chip-container {
  position: relative; }
  .chip-container--500 {
    grid-row: 9 / 10;
    grid-column: 11 / 12; }
  .chip-container--100 {
    grid-row: 9 / 10;
    grid-column: 10 / 11; }
  .chip-container--25 {
    grid-row: 9 / 10;
    grid-column: 9 / 10; }
  .chip-container--5 {
    grid-row: 9 / 10;
    grid-column: 8 / 9; }
  .chip-container--1 {
    grid-row: 9 / 10;
    grid-column: 7 / 8; }

.win--player {
  grid-row: 6 / 7;
  grid-column: 5 / 9; }

.win--dealer {
  grid-row: 2 / 3;
  grid-column: 5 / 9; }

.win--draw {
  grid-row: 4 / 5;
  grid-column: 5 / 9; }

.bank {
  font-size: 3.5rem;
  color: #ffcc1d;
  fill: #ffcc1d;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba(232, 232, 204, 0.2), rgba(17, 101, 48, 0.2));
  border-radius: 1rem;
  box-shadow: -1px 1px 4px #e8e8cc, 1px -1px 4px #e8e8cc;
  display: flex;
  align-items: center; }
  .bank__icon {
    width: 3.5rem;
    height: 3.5rem;
    filter: drop-shadow(1px 1px 2px black); }

.call-for-bet {
  width: 100%;
  height: 100%;
  font-size: 3.5rem;
  text-align: center;
  color: #ffcc1d;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba(232, 232, 204, 0.2), rgba(17, 101, 48, 0.2));
  border-radius: 1rem;
  box-shadow: -1px 1px 4px #ffcc1d, 1px -1px 4px #ffcc1d; }

.call-for-bet-arrow {
  width: 100%;
  height: 100%;
  fill: rgba(255, 204, 29, 0.5);
  filter: drop-shadow(0.25rem 0.25rem black);
  animation: move 7s infinite; }

@keyframes move {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(-22.5rem); }
  75% {
    transform: translateX(22.5rem); }
  100% {
    transform: translateX(0rem); } }

.bet--chip .chip {
  position: absolute;
  transform: rotateX(45deg); }

.bet--info {
  z-index: 1;
  font-size: 2rem;
  color: #e8e8cc;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba(232, 232, 204, 0.2), rgba(17, 101, 48, 0.2));
  border-radius: 1rem;
  box-shadow: -1px 1px 4px #e8e8cc, 1px -1px 4px #e8e8cc; }

.dealer-score {
  display: none;
  z-index: 1;
  font-size: 4rem;
  color: #e8e8cc;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba(232, 232, 204, 0.2), rgba(17, 101, 48, 0.2));
  border-radius: 1rem;
  box-shadow: -1px 1px 4px #e8e8cc, 1px -1px 4px #e8e8cc; }

.player-score {
  display: none;
  z-index: 1;
  font-size: 4rem;
  color: #e8e8cc;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(rgba(232, 232, 204, 0.2), rgba(17, 101, 48, 0.2));
  border-radius: 1rem;
  box-shadow: -1px 1px 4px #e8e8cc, 1px -1px 4px #e8e8cc; }

.active-score {
  color: #ffcc1d;
  box-shadow: -1px 1px 4px #ffcc1d, 1px -1px 4px #ffcc1d; }

.win {
  z-index: 100;
  width: 100%;
  height: 100%;
  font-size: 4.5rem;
  text-align: center;
  color: #e8e8cc;
  text-shadow: 1px 1px 2px black;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(red, #950101);
  border-radius: 1rem;
  box-shadow: -1px 1px 4px #e8e8cc, 1px -1px 4px #e8e8cc; }

.hidden {
  visibility: hidden; }
